@import url("/src/assets/fonts/index.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --iransansfont: 'IRANSansX';
}
* {
    font-family: var(--iransansfont), serif !important;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #202124;
}

::-webkit-scrollbar-thumb {
    background-color: #363637; 
    border-radius: 10px; 
    border: 2px solid #202124; 
}

* {
    scrollbar-width: thin;
}
html {
    scroll-behavior: smooth;
}
